.hero {
  display: flex;
  flex: 1;
  align-items: center;
  background: #111;
  border-top: 0.5rem solid white;
  position: relative;
  overflow: hidden;
  transform: translateX(0);
  transition: all ease 0.2s;
}

.hero.loading:after {
  content: "Finding Oponent";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(16px + 2vw);
  font-weight: 700;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: pulse;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
  transform: translateX(-100%);
  transition: all ease 0.2s;
}

.hero:nth-of-type(1).loading:after {
  transform: translateX(100%);
}

.hero.loading {
  overflow: initial;
  transform: translateX(100%);
  transition: all ease 0.2s;
}

/* .hero .show-details {
  position: absolute;
  top: 0;
  right: 0;
} */

.hero .winner {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  background: rgba(249, 202, 36, 0.8);
  color: white;
  font-size: calc(16px + 2vw);
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  transform: translateX(100%);
  transition: all ease 0.2s;
}

.hero:nth-of-type(1) .winner {
  transform: translateX(-100%);
}

.hero .winner:hover {
  background: rgba(249, 202, 36, 0.75);
  transition: all ease 0.2s;
}

.hero .winner .fa {
  margin-bottom: 0.5rem;
}

.hero.declared .winner {
  transform: translateX(0);
  transition: all ease 0.2s;
}

.hero:nth-of-type(1) {
  flex-direction: row-reverse;
  border-top: none;
}

.hero:nth-of-type(1) .winner {
  left: auto;
  right: 0;
}

.hero:nth-of-type(1).loading {
  transform: translateX(-100%);
}

.hero-img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
}

.hero-img .fa {
  font-size: calc(16px + 20vw);
  color: white;
}

.info--wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.info {
  text-align: center;
  color: white;
  padding: 1rem 2rem;
  z-index: 9;
  background: rgba(0,0,0,0.8);
}

.name {
  min-width: 300px;
  font-size: calc(16px + 2vw);
  padding: 0.5rem;
  margin: 0;
}

.score {
  width: 100%;
  background: white;
  color: #111;
  border-radius: 6px;
  font-size: calc(16px + 1.5vw);
  display: block;
  margin: 0.5rem 0;
}

@media screen and (max-width: 480px) {
  .hero-img img {
    width: auto;
    height: 100%;
  }
}


@media screen and (min-width: 900px) {
  .hero-img {
    width: 50%;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }

  .info {
    background: none;
  }
}
