.score {
  text-align: center;
  background: white;
  color: #111;
  font-size: calc(16px + 1vw);
  font-weight: 900;
  padding: 4px 0;
  margin: 0.5rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 6px;
}

.score .fa {
  /* padding: 0 0.5rem; */
  font-size: calc(16px + 0.25vw);
  color: rgba(0,0,0,0.2);
  display: none;
}

.score.processing {
  height: 34px;
  opacity: 0.25;
}
